@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

body {

    margin:  0;
    padding: 40px;
    background-color: darkgreen;
    color : black;
    font-family:  'Share Tech Mono', 'sans-serif';
}

.card  {

   
    border-radius: 25px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background:  linear-gradient(125deg, #1245ff , #12ff56 , #127545
    );
    box-shadow: 0 0 25px rgba(210 , 0, 0, 0.3);
    border: 4px solid black;
    animation: pulseGlow 2s infinite alternate;

}

@keyframes pulseGlow {

    from {
        box-shadow:  0 0 25px blue, 0 0 20px darkgreen; 
    }
    to {
        box-shadow:  0 0 20px darkcyan, 0 0 20px darkblue;
    }
    
}

h1 , h2  {

    font-family:  'Orbitron', 'sans-serif';
    text-align: center;
    color: black;
    text-shadow: 0 0 12px cyan;
    margin-bottom: 25px;

}

h1 {

    font-size:  2.5rem;

}

.section {

    margin-bottom:  36px;

}

table {

    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
    background-color: lightgreen;
    border: 2px solid green;

}

th, td {

    border : 2px solid green;
    padding: 4px;
    text-align: left ;

}

ul, ol {

    padding-left: 20px;
    font-size: 1.05em;

}

.badge {

    background: lightgreen;
    color: darkgreen;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 1em;

}

.stat-highlight {

    color: black;
    font-weight: bold;
    text-shadow: 0 0 8px green;

}

p  {

    font-size: 1.15em;
}

.skills {

    text-shadow:  0 0 6px green ;
}
